/* ----- SECTIONS ---------
---------------------------- */
/* One Page Sections
-------------------------- */
.window {
    height:100%;
}
.center {
    margin-top: 55px;
}
.center-long {
    margin-top: 10%;
}
.jumbotron {
    width: 100%;
    height: 100%;
    padding:0;
    margin-bottom: 0;
    padding-top: 20px;
    margin-top: 0;
    padding-bottom: 120px;
    border-bottom: 2px dotted #333;
    background-color: rgb(249,244,230);
    background-color: rgba(249,244,230,0.5);
    color: #333;
}
.jumbotron h1 {
    font-size: 48px;
}
.jumbotron h4 {
    font-family: 'inconsolata', 'source sans pro', sans-serif;
    font-size: 18px;
    line-height:1.1;
}
.jumbotron h5 {
    font-family: 'inconsolata', 'source sans pro', sans-serif;
    font-size: 14px;
}
.jumbotron h6 {
    font-family: 'inconsolata', 'source sans pro', sans-serif;
}
.jumbotron p {
    font-size: 16px;
    font-weight:300;
}
.about {
    margin-top: 60px;
    padding-top: 50px;
}
.materials {
    color: #333;
    background: url(../img/banner/doge.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.design {
}
.sizing {
}
.sizing h1 {
    padding-bottom: 10px;
}
.retailers {
    padding-bottom:0;
    border:0;
}


.overlay {
    margin-top: 100px;
    width:100%;
    background-color: rgb(251,249,242);
    background-color: rgba(251,249,242,0.9);
    color: #333;
}

.overlay-inside {
    padding: 70px 20px 70px;
}
.nav-tabs{
    border-bottom: 1px dotted #555;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #555;
    color: #fff;
    
}
.nav-tabs>li>a {
    color:#333;
}
.nav-tabs>li>a:hover {
    background-color: #888;
    color: #fff;
}
.table>thead>tr>th {
vertical-align: bottom;
border-bottom: 1px solid #333;
}
.table>tbody>tr>td {
    border-top: 1px dotted #ddd;
}
legend {
    border-bottom: 1px solid #333;
}

.contact-us {
    padding-top: 50px;
    padding-bottom: 20px;
}

.press-section {
}

/* GOOGLE MAPS */
#mapCanvas img {
  max-width: none;
}
/* Box-sizing resets
 *
 * Reset individual elements or override regions to avoid conflicts due to
 * global box model settings of Bootstrap. Two options, individual overrides and
 * region resets, are available as plain CSS and uncompiled LESS formats.
 */

/* Option 1A: Override a single element's box model via CSS */
.element {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

/* Option 1B: Override a single element's box model by using a Bootstrap LESS mixin */
.element {
  .box-sizing(content-box);
}

/* Option 2A: Reset an entire region via CSS */
.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

/* Option 2B: Reset an entire region with a custom LESS mixin */
.reset-box-sizing {
  &,
  *,
  *:before,
  *:after {
    .box-sizing(content-box);
  }
}
.element {
  .reset-box-sizing();
}
.google-map-canvas,
.google-map-canvas * {
    .box-sizing(content-box);
}

/* CAROUSEL with items */
.thumbnail {
    width: 260px;
    height: 180px;
    overflow: hidden; /* contain images within thumbnail boundaries */
    border: 0; /* removes Bootstrap's default border */
    box-shadow: 0 12px 12px -10px #c4c4c4;
    -webkit-box-shadow: 0 17px 22px -20px #c4c4c4;
    -moz-box-shadow: 0 12px 12px -10px #c4c4c4;
}
.thumbnail img { width:100%; height:auto; } /* to keep proportions */
.thumbnails p { text-align: center; padding: 10px; } /* captions can be styled with an inline element */
#myCarousel {
    margin-top: 10px;
    padding-top: 15px;
    height:300px;
}

.carousel {
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 10px;
    min-height: 300px;
}

.carousel-inner .item {
    height:300px;
    background-color: transparent;
}

.short {
    list-style: none;
}

.carousel-inner {
    height:300px;
    background-color: transparent;
}

.carousel-control {
  color: #000;
}

.return {
    border-bottom:0;
}

.donations {
    border-bottom:0;
}

.adopt-card h5 {
    margin-bottom:0;
    letter-spacing:1px;
    text-transform:uppercase;
}

.adopt-card li {
    margin-bottom: 25px;
}



p.m-stat {
    font-size:21px;
}

.about h1 {
    margin-top: -5px
}

.donations-vert {
    margin-top: -20px;
    height: 500px;
    overflow-y: scroll;
}
.table-condensed {
    font-size: 18px;
}

/*---- PRESS: Smooth Div Scroll
-------------------------------- */
#pressgallery {
    padding-left: 20px;
	width:100%;
	height: 290px;
	position: relative;
}

#pressgallery .contentBox {
	position: relative;
	float: left;
	display: block;
    text-align:center;
	height: 288px;
	width: 200px;
	padding: 10px;
	margin: 0px 5px;
	/* If you don't want the images in the scroller to be selectable, try the following
	   block of code. It's just a nice feature that prevent the images from
	   accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#pressgallery .contentBox img {
	margin-bottom: 10px;
}

#pressgallery .contentBox a {
    text-decoration:none;
    line-height:1;
}

#pressgallery .contentBox a:hover {
    text-decoration:underline;
}

#pressgallery .contentBox.press-year {
    background-color:#333;
    color: #f2f2f2;
    height:270px;
}
#pressgallery .contentBox.press-year h3 {
    margin-top: 100px;
}

.nav-press-years {
    margin-top: 0;
    padding-top: 0;
    font-family: 'inconsolata', 'source sans pro', sans-serif;
    font-size: 16px;
}
/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

/* Invisible left hotspot */
div.scrollingHotSpotLeft
{
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	min-width: 75px;
	width: 10%;
	height: 100%;
	/* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
	background-image: url(img/cursors/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	left: 0;
	/*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
	cursor: url(img/cursors/cursors/cursor_arrow_left.png), url(img/cursors/cursors/cursor_arrow_left.cur),w-resize;
}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible
{
	background-image: url(img/cursors/arrow_left.gif);				
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35; /* Standard CSS3 opacity setting */
	-moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
	zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
}

/* Invisible right hotspot */
div.scrollingHotSpotRight
{
	min-width: 75px;
	width: 10%;
	height: 100%;
	background-image: url(img/cursors/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index: 200;
	right: 0;
	cursor: url(img/cursors/cursors/cursor_arrow_right.png), url(img/cursors/cursors/cursor_arrow_right.cur),e-resize;
}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
	background-image: url(img/cursors/arrow_right.gif);
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;
	zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}

/* -----------
    RESPONSIVE
--------------*/

@media (max-width: 767px) {
    
    .jumbotron {
        margin-top:0;
        padding-top: 1px;
        padding-bottom: 40px;
    }   
    .about
    {
        margin-top: 40px;
        padding-bottom:0;
    }   
    .about-us {
    padding-bottom:30px;
    }
}
p.larger-text {
    font-size:18px;
}

.adopt-card {
    padding: 15px 5px ;
    border: 2px dotted #555;
    border-radius: 10px;
}
.donations-list li {
    font-size: 18px;
    font-weight: 300;
    margin-right: 30px;
}

/* NEW 16.11.2013 */
.sitemap h3 a:hover {
    text-decoration:underline;
}

.sitemap li {
    padding: 5px 0;
    line-height:1.1;
}
.sitemap li a {
    font-size: 18px;
    text-decoration: none;
}
.sitemap li a:hover {
    text-decoration: underline;
}
.sitemap h3,
.sitemap h3 a {
    font-family: 'inconsolata', 'source sans pro', sans-serif;
    font-weight: 400;
    font-size:21px;
    text-transform:uppercase;
    letter-spacing:1px;
    text-decoration:none;
    padding-bottom:0;
    margin-bottom:0;
}
